<footer style='padding-top: 10px; border-top: 2px solid #ddd;'>
  <p style="text-align: center;" class="text-white">
    © 2025 UMAガチャ<br>
    <a href="https://x.com/hinanata72" target="_blank" style="color: #1DA1F2; text-decoration: none;">
      お問い合わせはこちら
    </a>
  </p>
</footer>