<div style="min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
  <br>
  <h1 style="font-size: 50px;">現れたUMAは...</h1>
  <br>
  <ol style="list-style: none; padding: 0;">
    <% @results.each_with_index do |res, index| %>
        <li style="margin-bottom: 20px; padding-bottom: 10px; border-bottom: 2px solid #ddd;">
          <strong style="font-size: 40px;"><%= index + 1 %>回目</strong><br>
          <p style="font-size: 25px;">
            <% if ["金", "銀", "銅", "？"].include?(res["result"]) %>
              <span class="sparkle-text"><%= res["result"] %>のゴリラを引きました！</span>
            <% else %>
              <%= res["result"] %>のゴリラを引きました！
            <% end %>
          </p>
          <%= image_tag "#{res["result"]}.png", size: "360x360", alt: "#{res["result"]}のゴリラ" %>
        </li>
    <% end %>
</ol>